
<section class="request__form">
  <section class="request__form__main">
    <div class="request__form__source">
      <mat-form-field appearance="fill">
        <mat-label>Source</mat-label>
        <mat-select>
          <mat-option value="mobile">Mobile.de</mat-option>
          <mat-option value="ria">AutoRia</mat-option>
          <mat-option value="ria">AutoScout</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="request__form__mark">
      <mat-form-field appearance="fill">
        <mat-label>Mark</mat-label>
        <mat-select>
          <mat-option value="option">Option</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="request__form__model">
      <mat-form-field appearance="fill">
        <mat-label>Model</mat-label>
        <mat-select>
          <mat-option value="option">Option</mat-option>
        </mat-select>
      </mat-form-field>
    </div>

  </section>

  <section class="request__form__years">

    <div class="request__form__yearFrom">
      <mat-form-field appearance="fill">
        <mat-label>Year From</mat-label>
        <mat-select>
          <mat-option value="option">Option</mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <div class="request__form__yearTo">
      <mat-form-field appearance="fill">
        <mat-label>Year To</mat-label>
        <mat-select>
          <mat-option value="option">Option</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </section>
  <section class="request__form__mileage">
    <div class="request__form__mileageFrom">
      <mat-form-field appearance="fill">
        <mat-label>Mileage From</mat-label>
        <mat-select>
          <mat-option value="option">Option</mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <div class="request__form__mileageTo">
      <mat-form-field appearance="fill">
        <mat-label>Mileage To</mat-label>
        <mat-select>
          <mat-option value="option">Option</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </section>
  <section class="request__form__price">
    <div class="request__form__PriceFrom">
      <mat-form-field appearance="fill">
        <mat-label>Mileage From</mat-label>
        <mat-select>
          <mat-option value="option">Option</mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <div class="request__form__PriceTo">
      <mat-form-field appearance="fill">
        <mat-label>Mileage To</mat-label>
        <mat-select>
          <mat-option value="option">Option</mat-option>
        </mat-select>
      </mat-form-field>
    </div>

  </section>

</section>
