<mat-sidenav-container fullscreen>
  <mat-sidenav #sidenav
               mode="side"
               [(opened)]="opened">
    <mat-list>
      <mat-list-item>
        <h2 matLine> Car Scrapper</h2>
        <button mat-icon-button
                (click)="opened = !opened">
          <mat-icon>menu</mat-icon>
        </button>
      </mat-list-item>
    </mat-list>
    <mat-nav-list>
      <mat-list-item [routerLink]="['/home']">
        <a matLine>Home</a>
        <button mat-icon-button>
          <mat-icon>home</mat-icon>
        </button>

      </mat-list-item>
      <!--      <mat-list-item [routerLink]="['/requests']">-->
      <!--        <a matLine>Requests</a>-->
      <!--        <button mat-icon-button>-->
      <!--          <mat-icon>file_upload</mat-icon>-->
      <!--        </button>-->
      <!--      </mat-list-item>-->
      <!--      <mat-list-item [routerLink]="['/favorites']">-->
      <!--        <a matLine>Requests</a>-->
      <!--        <button mat-icon-button>-->
      <!--          <mat-icon>favorites</mat-icon>-->
      <!--        </button>-->
      <!--      </mat-list-item>-->
    </mat-nav-list>
    <div class="button">
      <button type="submit"
              (click)="logout()"
              mat-button> Logout
      </button>
    </div>
  </mat-sidenav>
  <mat-sidenav-content>
    <ng-content></ng-content>
  </mat-sidenav-content>
</mat-sidenav-container>
